<xft-datatable class="xft-datatable--overflow-hidden">
  <thead title class="xft-datatable__thead">
    <tr class="xft-datatable__title">
      <th class="xft-datatable__th col-sm-37-5">Nombre</th>
      <th class="xft-datatable__th col-sm-20 align-center">Prefijo</th>
      <th class="xft-datatable__th col-sm-20 align-center">Longitud</th>
      <th class="xft-datatable__th col-sm-22-5 align-right">Registro</th>
    </tr>
  </thead>

  <tbody body class="xft-datatable__tbody">
  </tbody>

  <div footer class="xft-datatable__footer">
  </div>
</xft-datatable>