.card-person {
  &_content {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    padding: var(--size-12);
    box-sizing: border-box;
    border: 1px solid var(--color-light-100);
    border-radius: var(--size-8);
    background: var(--color-light-900);

    label {
      position: relative;
      float: left;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &_data {
    position: relative;
    float: left;
    min-width: calc(100% - var(--size-32));
  }

  &_title {
    color: var(--color-info-900);
    
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &_subtitle {
    color: var(--color-happy-900);
  }

  &_detail {
    color: var(--color-dark-700);
  }

  &_action {
    margin: auto 0rem auto var(--size-8);

    &:hover {
      color: var(--color-danger-900);
    }
  }
}
